<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>    
    <ion-row>
      <ion-col
        size-sm="12"
        size-md="6"
        size-lg="4"
        size-lg="4"
        *ngFor="let item of posts"
      >
        <app-feed-card-two [routerLink]="['/details', item.id]"
          
          [name]="item.user"
          [date]="item.date_posted"
          [text]="item.caption"
          [image]="item.image"
          [likes]="200"
          [separator]="true"
        >
        </app-feed-card-two>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
