<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar placeholder="Search" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Username</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
