<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar placeholder="Search" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <ion-list lines="none">
    <ion-item *ngFor = 'let user of users' [routerLink]="['/profile', user.id]">
      <ion-avatar slot="start">
        <img src="../../../assets/default_user.png">
      </ion-avatar>
      <ion-label>{{user.username}}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
