<ion-content [fullscreen]="true">
<ion-grid class="ion-no-padding ion-no-margin background-opts" [ngStyle]="{'background-image': 'url(' + post.image + ')'}">
  <ion-row>
    <ion-col class="header-container">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="title-container ion-padding">
        <!-- <p>{{ article.category }}</p> -->
        <h1>{{ post.caption }}</h1>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="ion-padding-horizontal">
  <ion-row>
    <ion-col>
      <ion-item lines="none" class="ion-no-padding">
        <ion-avatar slot="start">
          <img
            src="../../../assets/default_user.png"
          />
        </ion-avatar>
        <ion-label>
          <h2 class="item-title">{{ post.user }}</h2>
          <p class="item-subtitle">{{ date | date:'short'  }}</p>
        </ion-label>
        <ion-button
          class="circle-btn"
          slot="end"
          fill="clear"
          size="small"
          shape="round"
          color="primary"
        >
          <ion-icon
            slot="icon-only"
            name="ellipsis-horizontal-outline"
          ></ion-icon>
        </ion-button>
      </ion-item>
      <div class="article-footer" *ngIf="isOwner">
        <div>
          <ul>
            <li>
              <ion-button 
              color="success"
              [routerLink]="['edit', post.id]">
                <ion-icon slot="icon-only" name="pencil"></ion-icon>
              </ion-button>
            </li>
            <li>
              <ion-button 
              color="danger"
              (click)="deletePost(post.id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </li>
          </ul>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <pre class="text">{{ post.recipe }}</pre>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
