<ion-content [fullscreen]="true">
<ion-grid class="ion-no-padding ion-no-margin background-opts" [ngStyle]="{'background-image': 'url(' + post.image + ')'}">
  <ion-row>
    <ion-col class="header-container">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="title-container ion-padding">
        <!-- <p>{{ article.category }}</p> -->
        <h1>{{ post.caption }}</h1>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="ion-padding-horizontal">
  <ion-row>
    <ion-col>
      <ion-item lines="none" class="ion-no-padding">
        <ion-avatar slot="start">
          <img
            [src]="article.avatar"
          />
        </ion-avatar>
        <ion-label>
          <h2 class="item-title">{{ post.user }}</h2>
          <p class="item-subtitle">{{ date | date:'short'  }}</p>
        </ion-label>
        <ion-button
          class="circle-btn"
          slot="end"
          fill="clear"
          size="small"
          shape="round"
          color="primary"
        >
          <ion-icon
            slot="icon-only"
            name="ellipsis-horizontal-outline"
          ></ion-icon>
        </ion-button>
      </ion-item>
      <!-- <div class="article-footer">
        <div>
          <ul>
            <li>
              <ion-item lines="none" (click)="likePost()">
                <ion-icon color="medium" name="heart-outline"></ion-icon>
                <ion-label>200</ion-label>
              </ion-item>
            </li>
            <li>
              <ion-item lines="none">
                <ion-icon color="medium" name="chatbubble-outline"></ion-icon>
                <ion-label>300</ion-label>
              </ion-item>
            </li>
            <li>
              <ion-item lines="none">
                <ion-icon color="medium" name="bookmark-outline"></ion-icon>
                <ion-label>400</ion-label>
              </ion-item>
            </li>
          </ul>
        </div>
        <ion-button
          class="circle-btn"
          slot="end"
          fill="clear"
          size="small"
          shape="round"
          color="primary"
        >
          <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-button>
      </div> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <pre class="text">{{ post.recipe }}</pre>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
