<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar placeholder="What's in your Fridge?" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">

  <ion-list lines="none">
    <ion-item *ngFor = "let post of posts" [routerLink]="['/details', post.id]">
      <ion-label>{{ post.caption }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
